.App{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  height:100vh;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;

  &--description{
    font-size: calc(10px + 1vmin);
  }
}

@mixin a11y-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.stock-search {
  &--suggestion{
    border-top: 0px !important;
    border-bottom:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;

    &:hover{
      background-color:lightseagreen;
      color: white;
    }
  }

  &--label {
    @include a11y-visually-hidden();
  }

  &--suggestions{
    display: flex;
    flex-direction: column;
    max-width: 177px;

  }
}

.stock-compare{
  display:flex;
  align-items:stretch;
  align-content: stretch;
  justify-content: stretch;
  flex: 1 1 0px;

}

.stock-view{
  display:flex;
  flex-direction: column;
  flex: 1 1 0px;
  padding:5px;
  &--header {
    display:flex;
    justify-content: space-between;
  }
  font-size: 20px;
}

.stock-earnings{
  
  &--green{
    color:green;
  }

  &--red{
    color:red;
  }

  padding: 5px;

  &--row{
    display:flex;
  }

  &--section{
    display: flex;
    flex-direction: column;
    padding-left: 10px;


    > *{
      padding-right: 15px;
    }
  }

  &--meme{
    width:50px;
    height:50px;
  }
}

.stock-daily{
  padding: 5px;

  &--section{
    display:flex;
    > *{
      padding-right: 15px;

    }
  }
}

.stock-chart{
  max-width: 400px;
}